@model MDLibrary.MVC.Models.BooksVM.BookDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            Number of copies
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCopies.Count)
        </dd>
    </dl>
</div>
<dd class="col-sm-10">
<a class="btn btn-primary" asp-action="AddOneMoreBookCopy" asp-route-id="@Model.ID">Add one more book</a>
</dd>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Go to Books</a> | 
    <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorID">Go to Author</a>
</div>
