@model MDLibrary.MVC.Models.BooksVM.BookCopyIndexVm;

@{
    ViewData["Title"] = "Index";
}

<h1>Library</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Index">Show all books</a>
    <a asp-action="IndexAvalibleBooks">Show available books</a>
    <a asp-action="IndexBooksOnLoan">Show books on Loan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Select book
            </th>
            <th>
                ISBN
            </th>
            <th>
                Titel
            </th>
            <th>
                Author
            </th>
            <th>
                Details
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookCopies)
        {
            <tr>
                <td>
                    <input type="checkbox" name="loanBooks" value="@item.ID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDetails.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDetails.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDetails.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDetails.Details)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<dd class="col-sm-10">
    <a class="btn btn-primary" asp-controller="Loan" asp-action="Create" asp-route-bookChecked="loanBooks">Loan checked books</a>
</dd>
