@model MDLibrary.MVC.Models.BooksVM.BookCopyIndexVm;

@{
    ViewData["Title"] = "Index";
}

<h1>Library</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-controller="Loans" asp-action="Index">Show loans</a>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ISBN
            </th>
            <th>
                Titel
            </th>
            <th>
                Author
            </th>
            <th>
                Details
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookCopies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookDetails.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDetails.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDetails.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDetails.Details)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookDetails.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookDetails.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookDetails.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
