@model MDLibrary.MVC.Models.LoanVM.LoanBookListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Library</h1>

<p>
    <a asp-action="Index">Show loans</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Author
            </th>
            <th>
                Expected return date
            </th>
            <th>
                Owner of loan
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookCopies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookCopy.BookDetails.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCopy.BookDetails.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loan.TimeToReturnBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loan.Member.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Loan.ID">Go to Loan</a>
            </td>
        </tr>
}
    </tbody>
</table>
