@model MDLibrary.MVC.Models.LoanVM.CreateLoanVm;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayDate" class="control-label"></label>
                @Html.DisplayFor(model => model.DisplayDate)
            </div>
            <div class="form-group">
                <label asp-for="TimeToReturnBook" class="control-label"></label>
                @Html.DisplayFor(model => model.TimeToReturnBook)
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label asp-for="Members" class="control-label"></label>
                @Html.DropDownListFor(m => m.MemberID, Model.Members, "Select Member")
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Select book
                        </th>
                        <th>
                            ISBN
                        </th>
                        <th>
                            Titel
                        </th>
                        <th>
                            Author
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AvalibleBooks)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="loanBooks" value="@item.ID" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookDetails.ISBN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookDetails.Titel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookDetails.Author.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
