@model MDLibrary.MVC.Models.LoanVM.LoanIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Loan date
            </th>
            <th>
               Books return date
            </th>
            <th>
                Number of Books
            </th>
            <th>
                Member
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Loans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeToReturnBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanBooks.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
