@model MDLibrary.MVC.Models.LoanVM.LoanIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Loans</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-controller="BookDetails" asp-action="IndexBooksOnLoan">Show books on Loan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Loan date
            </th>
            <th>
               Books return date
            </th>
            <th>
                Number of Books
            </th>
            <th>
                Member
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Loans)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfLoan)
                </td>
                <td>
                    @if (item.IsReturned == 0 && item.TimeToReturnBook < DateTime.Today)
                    {
                        <div style="color:red">@Html.DisplayFor(modelItem => item.TimeToReturnBook)</div>
                    }
                    else if (item.IsReturned == 0)
                    {
                        <div style="color:blue"> @Html.DisplayFor(modelItem => item.TimeToReturnBook)</div>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.TimeToReturnBook)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanBooks.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
