@model MDLibrary.MVC.Models.MemberVM.DetailsMemberVm

@{
    ViewData["Title"] = "Details";
}

<h1>Loans for @Html.DisplayFor(model => model.Name)</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Number of Books
            </th>
            <th>
                Time of loan
            </th>
            <th>
                Time to return book
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model.Loans)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => loan.LoanBooks.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => loan.TimeOfLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => loan.TimeToReturnBook)
            </td>
            <td>
                <a asp-controller="Loans" asp-action="Details" asp-route-id="@loan.ID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    @if (Model.CanBeRemoved)
    {
        <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
    }
    else
    {
        <span style="color:red">Can't remove member with loan history</span>
    }
     | <a asp-action="Index">Back to List</a>
</div>
